/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    height: 100%;
    background: #d5d5d5;
}

.page-border {
    padding: 0px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.nav {
    padding-top: .15em;
    background: #c7c7c7;
    border-bottom: thick solid #bfbfbf;
}

.nav a {
    color: grey;
}

.nav a:hover {
    text-decoration: none;
    color: #927c7c;
}

.nav a:active {
    text-decoration: none;
    color: #a85454;
}

.menu-icon {
    position: relative;
    // padding: 0.3em 0.3em 0em 0.3em;
    // margin-left: 1em;
    // margin-top: 1em;
    left: 4%;
    float: left;
    clear: both;
}

.menu-list {
    background: rgba(76, 76, 76, 0.2);
}

.user-panel {
    position: relative;
    float: right;
    right: 4%;
}
