/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    height: 100%;
    background: #d5d5d5;
}

a {
    color: grey;
}

a:hover {
    text-decoration: none;
    color: #927c7c;
}

a:active {
    text-decoration: none;
    color: #a85454;
}

.page-border {
    padding: 0px;
    box-shadow: 0 9px 0px 0px #d5d5d5, 0 -9px 0px 0px #d5d5d5, 5px 0 7px -4px #736a53, -5px 0 7px -4px #736a53;
    // border-bottom: thick solid #bfbfbf;
}

.nav {
    padding-top: .15em;
    background: #c7c7c7;
    border-bottom: thick solid #bfbfbf;
}

.menu-icon {
    position: relative;
    // padding: 0.3em 0.3em 0em 0.3em;
    // margin-left: 1em;
    // margin-top: 1em;
    left: 4%;
    float: left;
    clear: both;
}

.menu-list {
    background: rgba(76, 76, 76, 0.2);
}

.user-panel {
    position: relative;
    float: right;
    right: 4%;
}

.form-override {
    position: relative;
    width: 36%;
    left: 32%;
}
